@import "../../styles/variables.scss";

.bodyContainer {
  position: relative;
  background: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
  min-height: 10em;

  .loaderContainer {
    position: absolute;
    height: 80px;
    width: 80px;
  }
}

.likeContainer {
  position: absolute;
  height: 1.5em;
  width: 100%;
}

.buttonContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  button {
    font-size: 1.5em;
    padding: 1em 2em;
    border-radius: 1em;
    border: 2px solid hsl(240, 49%, 19%);
    background: hsl(240, 26%, 30%);
    color: white;
  }

  button:hover {
    background: hsl(240, 14%, 29%);
  }

  button:active {
    color: hsl(240, 26%, 30%);
    background: white;
  }
}
