@import "../../styles/variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerContainer {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;

  .projectName {
    font-weight: bold;
    margin: 1.25em 0;
  }

  .socials {
    margin: 1.25em 0;

    a {
      margin: 0 1.25em;
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: #ccc;
    }
  }

  .c {
    margin: 1.25em 0;
  }
}
